*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 75%;
    margin: auto;
}
/* header */
h1{
    margin-top: 20px;
    margin-bottom: 50px;
}
h1, .sottotitolo{
    text-align: center;
}
/* main */
main{
    margin-top: 80px;
}
.container-img{
    width: 100%;
    border: 1px solid black;
}
.row{
    float: left;
    margin-bottom: 20px;
    width: calc(100% / 6 - 40px);
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.row{
    height: 100px;
    width: 350px;
    border: 1px solid black;
}
.img2, .img5{
    margin-left: 50px;
    margin-right: 50px;
}