*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 75%;
    margin: auto;
}
/* header */
h1{
    margin-top: 20px;
    margin-bottom: 50px;
}
h1, .sottotitolo{
    text-align: center;
}
/* main */
main{
    margin-top: 80px;
}
.container-img{
    width: 100%;
    border: 1px solid black;
}
.container-img::after{
    content: "";
    display: table;
    clear: both;
}

.box, .box2, .box5{
    height: 100px;
    width: 300px;
    border: 1px solid black;
    float: left;
}
.img, .info{
    float: left;
}
