*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 75%;
    margin: auto;
}

h1{
    margin-top: 20px;
    margin-bottom: 50px;
}
h1, .sottotitolo{
    text-align: center;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}